/* colors */
.letter-green { color: #D8F9B3; }
.letter-orange { color: #FFA100; }
.letter-red { color: #FF6868; }
.letter-yellow { color: #FFE700; }
.letter-violet { color: #AF00FF; }
.letter-magenta { color: #FF00DE; }
.letter-blue { color: #2D00FF; }

body {
    font-family: "Roboto", sans-serif;
}
/* titles */
.title {
    color: #FF6868;
    font-family: "Playpen Sans", cursive;
    font-size: 50px;
    margin: 30px 0px;
}
header {
    height: 300px;
    background-color: rgba(255,104,104,0.47);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 200px;
}
nav {
    padding: 0px 200px;
    position: absolute;
    top: 275px;
    margin: 0 auto;
}
li {
    display: inline-block;
    width: 180px;
    height: 40px;
    background-color: #D8F9B3;
    border: none;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 22px;
    vertical-align: middle;
}
.main-title {
    width: 75%;
}
.main-title h1 {
    font-family: "Playpen Sans", cursive;
    font-size: 100px;
    align-self: center;
}
.section-container {
    padding: 50px 200px;
}
.title-image {
    width: 50%;
    height: 500px;
    object-fit: cover;
    display: inline-block;
    margin-right: 50px;
}
.main-text {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.main-text p, .text-container p {
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}
/* valikoima */
.valikoima h2 {
    padding: 30px 200px;
}
.divContent {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 0px 30px;
}
.divItem {
    margin: 10px;
    padding: 20px;
    line-height: 30px;
}
.book-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}
.divItem h6{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.author {
    font-size: 15px;
    margin-bottom: 15px;
}
.price {
    font-size: 20px;
    margin-bottom: 15px;
}
.circle-img-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 30px;
}
.circle-item {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.circle-img {
    border-radius: 50%;
    width: 200px;
}
.circle-item h3 {
    padding-top: 30px;
    font-size: 25px;
}
.img-container {
    width: 50%;
    height: 500px;
    object-fit: cover;
    display: inline-block;
    margin-left: 50px;
}
.text-container {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.center {
    text-align: center;
}
footer {
    height: 200px;
    background-color: rgba(255,104,104,0.47);
    padding: 50px 200px;
}
.some {
    margin: 50px 0px;
}
.some a {
    color: #000;
    font-size: 30px;
    padding-right: 50px;
}
#year {
    display: inline-block;
    padding-right: 15px;
}
.copyright {
    display: inline-block;
}

/* buttons */
.add-button {
    width: 100%;
    height: 60px;
    background-color: #D8F9B3;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
}
@media only screen and (max-width: 650px) {
    .container {
        display: block;
    }
}