/* colors */
.letter-green { color: #D8F9B3; }
.letter-orange { color: #FFA100; }
.letter-red { color: #FF6868; }
.letter-yellow { color: #FFE700; }
.letter-violet { color: #AF00FF; }
.letter-magenta { color: #FF00DE; }
.letter-blue { color: #2D00FF; }

body {
    font-family: "Roboto", sans-serif;
}
/* titles */
.title {
    color: #D8F9B3;
    font-family: "Playpen Sans", cursive;
}
header {
    height: 300px;
    background-color: rgba(255,104,104,0.47);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 200px;
}
nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0px 200px;
    position: absolute;
    top: 250px;
}
.nav-item {
    width: 200px;
    height: 60px;
    background-color: #D8F9B3;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    
}
.main-title {
    width: 75%;
}
.main-title h1 {
    font-family: "Playpen Sans", cursive;
    font-size: 100px;
    align-self: center;
}
.main-section {
    padding: 50px 200px;
}
.title-image {
    width: 50%;
    height: 500px;
    object-fit: cover;
    display: inline-block;
    margin-right: 50px;
}
.main-text {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.main-text h2 {
    font-size: 50px;
    margin: 30px 0px;
}
.main-text p {
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}
/* valikoima */
.divContent {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.divItem {
    margin: 10px;
    padding: 20px;
    line-height: 30px;
}
.book-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.divItem h6{
    font-weight: 600;
    font-size: 20px;
}
.author {
    font-size: 15px;
}
.price {
    font-size: 30px;
}
.circle-img {
    border-radius: 50%;
    width: 300px;
}
/* buttons */
.add-button {
    width: 100%;
    height: 60px;
    background-color: #D8F9B3;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
}
@media only screen and (max-width: 650px) {
    .container {
        display: block;
    }
}